.projects-section-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.projects-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.header-underline {
    background: linear-gradient(45deg, #e7008a, #ff5e5e, #f8fc03);
    background-size: 200% 200%;
    width: 100px;
    height: 5px;
    border-radius: 2.5px;
    margin-bottom: -0.5rem;
}

.projects-header h1 {
    font-size: 2.25rem;
}

.projects-header p {
    color: rgb(75, 75, 75);
    margin-top: -5px;
    margin-bottom: 50px;
    line-height: 1.5rem;
    text-align: center;
}

.project-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    min-width: 350px;
    width: 40%;
    margin: 1rem;
}

.project-image {
    display: flex;
    justify-content: center;
}

.mobile-project-image {
    display: flex;
    justify-content: center;
    background-color: #efefef;
    z-index: -20;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image {
    border-radius: 10px;
    height: 250px;
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mobile-image-left {
    border-radius: 20px;
    height: 250px;
    z-index: -10;
    margin-right: -20px;
}

.mobile-image-main {
    border-radius: 20px;
    height: 250px;
    z-index: 10;
    position: relative;
}

.mobile-image-right {
    border-radius: 20px;
    height: 250px;
    z-index: -10;
    margin-left: -20px;
}

.project-name-and-icon {
    display: flex;
    flex-direction: row;
}

.project-name {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: left;
}

.github-icon {
    margin-left: 5px;
    cursor: pointer;
    color: black;
}

.link-icon {
    margin-left: 5px;
    cursor: pointer;
    color: black;
    font-size: 0.9rem;
}

.project-description {
    text-align: left;
    color: rgb(75, 75, 75);
    line-height: 1.5rem;
}

.technologies {
    display: flex;
    flex-direction: row;
    text-align: left;
    color: rgb(75, 75, 75);
    font-style: italic;
}